* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  background-color: #262523;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

header {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

main {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

p {
  color: #DDDDCF;
}

h1 {
  font-style: bold;
  color: #EAA71B;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 2em;
  color: #DDDDCF;
  }

p {
  font-size: 20px;
}

#result {
  font-size: 25px;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #EAA71B;
}

#displayResult {
  margin-top: 2.5em;
  border-style: none;
  font-size: 20px;
}

#restart {
  border-style: none;
  font-size: 20px;
}

.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 2em;
  margin-left: 2%;
  margin-right: 2%;
}

.answer-choice {
  flex: 0 1 200px;
  margin: 0;
}

@media (max-width: 250px) {
  .answer-choice {
    width: 45%;
    margin: 0;
  }

.answer-choice img {
  width: 100%;
  height: 20vw;
  max-height: 15em;
  object-fit: cover;
  display: block;
  margin: 0 auto 5%;
  aspect-ratio: 1 / 1;
}

.answer-choice button {
    width: 100%;
    font-size: 13px;
    padding: 8px 5px;
  }

}

#start {
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  background-color: #BB9941;
  border-style: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 25px;
  cursor: pointer;
}

#start:hover {
  background-color: #FFFFEA;
}

button {
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  background-color: #BB9941;
  border-style: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #FFFFEA;
}

.hidden {
  display: none;
}

.arabesco {
  position: fixed;
  width: 150px;
  height: 150px;
  background-image: url("../assets/BACK.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}

.canto-top-left {
  top: 15px;
  left: 0;
  transform: scaleX(-1);
}

.canto-top-right {
  top: 15px;
  right: 0;
}

.canto-bottom-left {
  bottom: 5px;
  left: 0;
  transform: scale(-1);
}

.canto-bottom-right {
  bottom: 5px;
  right: 0;
  transform: scaleY(-1);
}

@media (max-width: 600px) {
  .arabesco {
    width: 80px;
    height: 80px;
  }
}
